body {
  background-color: #fff;
  font-family: trip sans TripSans-Regular;
  margin-top: 40px;
  font-family: google;
}
.container {
  width: 1024px;
  margin: auto;
  margin-left: 152px;
}

.logo-header {
  width: 183px;
}
.navhaut {
  display: flex;
}
.navhaut li {
  flex: 1;
}
